:root {
    --pink: #f14e95;
    --green: #6cca4f;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0, 0, 0);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 2000px;
    max-width: 375px;
    margin: auto;
}

.hero ::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero {
    position: relative;
    min-height: 100vh;
    position: relative; /* Tambahkan properti position */
    z-index: 1; /* Tambahkan properti z-index */
}

.hero h1 {
    font-family: 'Leckerli One', cursive;
    font-size: 5rem;
    margin-bottom: 300px;
}

.hero p {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.hero a {
    color: var(--green);
    background-color: white;
    margin-bottom: 4rem;
}


.hero a:hover {
    background-color: var(--green);
    color: white;
    margin-bottom: 2rem;
}





.Home {
    position: relative;
    background-color: #6cca4f;
    background-size: cover;
    min-height: 100vh;
    text-align: center; /* Rata tengah konten di dalam .Home */
}

.Home .slideshow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.Home .judul {
    font-size: 2rem;
    position: absolute;
    top: 10%; /* Posisikan di tengah vertikal */
    width: 100%;
    left: 50%; /* Posisikan di tengah horizontal */
    transform: translate(-50%, -50%); /* Geser ke tengah */
    z-index: 1; /* Pastikan teks berada di atas gambar */
    color: white; /* Warna teks */
    text-shadow: var(--shadow); /* Efek bayangan teks */
}

.Home img {
    width: 100%;
    max-width: 100%; /* Pastikan gambar tidak melebihi lebar .Home */
    height: auto; /* Biarkan tinggi otomatis menyesuaikan lebar */
    display: block; /* Hilangkan spasi ekstra di bawah gambar */
    clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
    margin-top: -18%;
    border-radius: 0px 0px 200px 200px;
}
.Home h1 {
    font-family: 'Leckerli One', cursive;
    font-size: 3rem;
}

.Home h2 {
    color: var(--pink);
    font-family: 'Leckerli One', cursive;
    font-size: 3rem;
    font-weight: bold;
}

.Home .icon {
    font-size: 5rem;
    color: white;
    padding-top: 2rem;
}
.Home h3 {
    color: white;
    padding-top: 5px;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.Home p {
    font-size: 2rem;
    color: white;
}

.Home .ayat {
    margin-top: 10px;
    padding-bottom: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* Animasi untuk mengangkat cover */
@keyframes liftCover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Section Home */
#Home {
    position: relative;
    background-color: #6cca4f;
    background-size: cover;
    min-height: 100vh;
    text-align: center; /* Rata tengah konten di dalam .Home */
    z-index: -1; /* Sembunyikan section Home di bawah section Hero */
    opacity: 0;
    transition: opacity 0.5s ease;
}
#Home.show {
    z-index: 2; /* Tampilkan section Home di atas section Hero */
    opacity: 1;
}

.ayat.animate {
    opacity: 1;
}
.bismillah{
    margin-top:10%;
    max-width: 100%;
}
.couple {
    padding-top: 50px; /* Atur sesuai kebutuhan */
    padding-bottom: 50px; /* Atur sesuai kebutuhan */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* CSS */
.couple-row {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.couple-row.animate {
    opacity: 1;
}

.couple h2,
.couple p {
    text-align: center;
}

.couple .salam {
    margin-top: 20px; /* Atur sesuai kebutuhan */
    font-size: 2rem;
    font-weight: bold;
    color: var(--green);
    font-family: 'Leckerli One', cursive;;
}

.couple p {
    font-size: 1.8rem;
}

.couple .card {
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: var(--shadow);
}


/* Menggunakan GPU acceleration */
.nita, .frisna {
    transition: transform 0.5s ease, opacity 0.5s ease;
    backface-visibility: hidden;
}



.couple .nita {
    margin-left: 22%;
    margin-top: 10rem;
    margin-bottom: 10rem;
    order: 1; /* Urutan tampilan diubah menjadi 2 untuk rata kanan */
    width: 80%; /* Atur lebar sesuai kebutuhan */

}

.couple .frisna{
    margin-left: -2%;
    margin-bottom: 2rem;
    order: 2; /* Urutan tampilan diubah menjadi 1 untuk rata kiri */
    width: 80%; /* Atur lebar sesuai kebutuhan */

}

.couple .nita1 img {
    max-width: 100%;
    border-radius: 20px 0px 0px 20px;
}
.couple .frisna1 img {
    max-width: 100%;
    border-radius: 0px 20px 20px 0px;
}
.couple .nita h2,
.couple .frisna h2 {
    writing-mode: vertical-lr; /* Menjadikan teks vertikal */
    transform: rotate(180deg); /* Memutar teks */
    margin: 0; /* Menghapus margin bawaan */
    white-space: nowrap; /* Mencegah teks terpotong */
}

.couple .nita h2 {
    position: relative;
    color: #6cca4f;
    font-size: 5rem;
    font-family: 'Leckerli One', cursive;
    top: -50%;
    right: 25%;
    float: left; /* Membuat teks The bride berada di sebelah kiri */
    margin-right: 10px; /* Memberikan jarak antara teks dan gambar */
}

.couple .frisna h2 {
    position: relative;
    color: #6cca4f;
    font-size: 5rem;
    font-family: 'Leckerli One', cursive;
    top: -50%;
    left: 25%;
    float: right; /* Membuat teks The groom berada di sebelah kanan */
    transform: scaleZ(-1); /* Memutar teks secara vertikal */
}

.couple .nita h3, .couple .frisna h3 {
    position: relative;
    max-width: 100%;
    padding-top: 2rem;
    font-weight: bolder;
    text-shadow: #c5c5c5;
    font-family: 'Leckerli One', cursive;
}

.couple .nita h3 {
    font-size: 2rem;
    text-align: right;
}

.couple .frisna h3 {
    font-size: 2rem;
    text-align: left;
}

.couple .nita h4 {
text-align: right;
    font-size: 1.6rem;
    color: #464444;
}

.couple .frisna h4 {
    text-align: left;
    font-size: 1.68rem;
    color: #464444;
}


.info {
    min-height: 100vh;
    margin-top: -2%;
    padding-bottom: 5rem;
}
.info h2 {
    font-family: 'Leckerli One', cursive;
    font-size: 4rem;
    color: var(--green);
}
.info h3 {
    font-family: 'Leckerli One', cursive;
    font-size: 2rem;
}
.info p {
    font-size: 1.5rem;
}

.info .card {
    background-color: #6cca4f !important;
    box-shadow: var(--shadow);
    font-weight: bold !important;
    color: white !important;
    border: 2px solid white;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}
.info .card .card-header {
    background-color: white;
    color: var(--green);
    font-family: 'Leckerli One', cursive;
    font-size: 2rem;
}
.info .card .card-body {
    font-size: 1rem;
}
.info .card .card-body i {
    font-size: 3rem;
}

.info .maps {
    background-color:#6cca4f;
    box-shadow: var(--shadow);
    border: 2px solid white;
    border-radius: 10px;
    
}
.info h5 {
    color: white;
    padding-bottom: 2rem;
}
.info .maps h4 {
    font-family: 'Leckerli One', cursive;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.info p {
    border: 2px solid white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: #6cca4f;
    color: white;
    margin-top: 2rem;
    font-style: italic;
}
.info .maps iframe {
    margin-bottom: 1rem;
    border-radius: 2%;
    border: 2px solid white;
}

.gallery {
    margin-top: 5rem;
}
.gallery-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    margin-bottom: 5rem;
}
.gallery h2 {
    font-family: 'Leckerli One', cursive;
    font-size: 4rem;
    color: var(--green); 
}

.item {
    overflow: hidden;
}

.item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.1);
}


.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 5px;
}

button .kirim [type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.comment {
    margin-top: 20px;
    background-color: var(--green);
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.comment-card {
    background-color:  #ffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.comment h2 {
    margin-bottom: 20px;
}

.comment-form .form-group {
    margin-bottom: 15px;
}

.comment-list {
    margin-top: 20px;
}

.comment-item {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.comment-item strong {
    font-weight: bold;
}

.comment-item p {
    margin: 5px 0;
}




html {
    font-size: 55%;
    align-items: center;
}
.simply-countdown > .simply-section {
    padding: 0px;
    margin: 5px;
}
.simply-countdown > .simply-section .simply-amount {
    font-size: 1.6rem;
}
.simply-countdown > .simply-section .simply-word {
    display: block;
    text-align: center;
}
.offcanvas-body {
    font-size: 2rem;
    background-color: var(--green);
    }   


    .wedding-gift {
        background-color: #fff;
        padding: 40px 0;
        text-align: center;
    }
    
    .wedding-gift h2 {
        font-family: 'Leckerli One', cursive;
        color: #6cca4f;
        font-size: 5rem;
        margin-bottom: 20px;
    }
    
    .wedding-gift p {
        color: #666;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .account-details {
        display: flex;
        justify-content: center;
    }
    
    .account {
        background-color: #f9f9f9;
        box-shadow: var(--shadow);
        padding: 20px;
        margin: 0 10px;
        border-radius: 5px;
    }
    
    .account h3 {
        color: #333;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    .account p {
        color: #666;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }
    .account img{
        max-width: 100%;
        padding-bottom: 10px;
    }

    .penutup {
        position:relative;
        background-color: #6cca4f;
        text-align: center;
        height: 25vh;
    }
    .penutup h2{
        font-family: 'Leckerli One', cursive;
        font-size: 5rem;
        color: white;
        position: relative;
        padding-bottom: 10px;
        top: 25%; /* Posisikan di tengah vertikal */
        width: 100%;
        left: 50%; /* Posisikan di tengah horizontal */
        transform: translate(-50%, -50%); /* Geser ke tengah */
        color: white; /* Warna teks */
        text-shadow: var(--shadow); /* Efek bayangan teks */
    }
    .penutup a, span{
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
    }
    .penutup a:hover{
        color: #0a0a0a;
        font-weight: 900;    
    }
    .penutup a{
        text-decoration: underline;
    }
